{block content}
<div id="banner">
    <h1 n:block=title>Uživatelé - nový uživatel</h1>
    <p><a n:href="Homepage:default">← zpět na Homepage</a></p>
</div>

<div id="content">
    
    <div class="row">
        <br><b>Vyplňte :</b><br><br>
    </div>
    {control novyuzivatelForm}
    
</div>

{/block}