{block content}
<div id="banner">
    <h1 n:block=title>Přehled řidičů</h1>
    <p><a n:href="Homepage:default">← zpět na Homepage</a></p>
</div>

<div id="content">
   
    {control prihlaseniForm}
    
</div>

{/block}