parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 1 days
	autoStart: true
	debugger: true


services:
	router: App\Router\RouterFactory::createRouter
#	- App\Models\ViditelnostOddeleni
	authenticator: App\Models\MojeAuthenticator
