{* This is the welcome page, you can delete it *}
{block content}


<div id="banner">

	<h1 n:block=title>Vozový park - přidat nový vůz</h1>

        <p><a n:href="Homepage:default">← zpět na výpis vozů</a></p>
</div>

<div id="content">
    
    {control vuzForm}

</div>

{/block}