{* This is the welcome page, you can delete it *}
{block content}


<div id="banner">

	<h1 n:block=title>Řidiči - přidat nového řidiče</h1>

        <p><a n:href="Vodici:vodici">← zpět na výpis řidičů</a></p>
</div>

<div id="content">
    
    {control novyridicForm}

</div>

{/block}